node_modules/
dist/
coverage/
.npm/
.eslintcache
.env
.env.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
.vscode/
.idea/
*.tar
*.gz
*.zip
result*.json
top.csv
*.tsbuildinfo
.vite/
.ropeproject
